# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\noahc\Documents\FALL 2020\ECSE 321 - Introduction to Software Engineering\Tutorials\Tutorial 2\eventregistration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
